.post {
    width: 85%;
    margin: 20px auto;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 2px solid #eee;
    text-align: left;
}

.parent-reply-form input {
    display: block;
    width: 80%;
    margin: 0px auto;
    height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 2px solid #eee;
    outline: none;
    font: inherit;
    text-align: left;
}

.parent-reply-button {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 11%;
}

.parent-reply-button button{
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}
.parent-reply-button button:hover,
.parent-reply-button button:active{
    color: white;
    background-color: #fa923f;
}


.parent-comment {
    width: 77%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 2px solid #eee;
    text-align: left;
}

.reply-show {
    display: block;
}

.reply-hide {
    display: none;
}

.child-reply-form input {
    display: block;
    width: 70%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 2px solid #eee;
    outline: none;
    text-align: left;
}

.child-reply-button {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15%;
}

.child-reply-button button{
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}
.child-reply-button button:hover,
.child-reply-button button:active{
    color: white;
    background-color: #fa923f;
}


.child-comment {
    width: 70%;
    margin: 0px auto;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 2px solid #eee;
    text-align: left;
}


.title {
    font-size: 30px;
}

.contents {
    font-size: 16px;
}

.writer {
    font-size: 16px;
}

.dates {
    margin-top: -15px;
    font-size: 14px;
}

.post-comment {
    width: 5%;
    color: rgb(100, 100, 100);
}

.post-comment:hover {
    cursor: pointer;
}